@using Release.Helper.WebKoMvc.Extensions
@using Prod.GESTORPLUS.Presentacion.MVC.Controllers

<nav class="navbar navbar-principal navbar-static-top">
    <div class="container">
        @*<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="#">STD</a>
        </div>*@

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Html.ResourcePath("Home/Index")">INICIO</a></li>
                <li><a href="@Html.ResourcePath("Comprobante/Index")">COMPROBANTES DE PAGO</a></li>
                <li id="li_prestamo"><a href="@Html.ResourcePath("Prestamo/Index")">PRÉSTAMOS</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Html.ResourcePath("Register/Index")">Register</a></li>
                <li class="active"><a href="@Html.ResourcePath("Auth/Index")">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
